

.container__main_size {
  height: 910px;
  /* background: green; */
}

.main__ {
  &container {
    width: 100%;
    position: relative;
    top: 1.6%;
    height: 98.5%;
    background: yellow;
    background-image: url(../main_background.jpg);
    background-size: cover;
  }

  &menu {
    width:100%;
    height: 50px;

  }

  &menu_position {
    position: relative;
    top: 4.5%;
  }

  &menu-item {
    width: 3%;
    height: 100%;

    &_logo {
      margin-left: 3.2%;
      background-image: url(../icons.png);
      opacity: 0.8;
      background-position: 8% 45%;
      position: absolute;
      float: left;
    }

    &_search {
      margin-left: 90%;
      background-image: url(../icons.png);
      opacity: 0.8;
      background-position: 58% 45%;
      position: absolute;
      float: left;
    }

    &_hamburger {
      margin-left: 93.5%;
      background-image: url(../icons.png);
      opacity: 0.8;
      background-position: 32% 45%;
      position: absolute;
      float: left;
    }
  }

  &menu-link {
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-size: 11px;

    &_first-link {
      position: absolute;
      margin-left: 42.5%;
      margin-top: 1.5%;
    }

    &_second-link {
      position: absolute;
      margin-left: 48%;
      margin-top: 1.5%;
    }

    &_third-link {
      position: absolute;
      margin-left: 53%;
      margin-top: 1.5%;
    }
  }

  &line {
    color: white;
    width: 93%;
    height: 1px;
    opacity: 0.4;
    border: none;
    background-color: white;

    &_position {
      position: relative;
      top: 8.6%;
    }

    &-vertical {
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      color: #DA7074;
      width: 10%;
      height: 1px;
      opacity: 0.8;
      border: none;
      background-color: #DA7074;

      &_position-1 {
        position: relative;
        top: 13%;
        left: -0.3%;
      }

      &_position-2 {
        position: relative;
        top: 13.2%;
        left: 0.1%;
      }
    }

    &-from-buttons {
      color: #DA7074;
      width: 23%;
      height: 1px;
      opacity: 0.8;
      border: none;
      background-color: #DA7074;

      &_position {
        position: relative;
        top: 10.5%;
        z-index: 1;
      }

    }
  }

  &title {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 80px;

    &_position {
      position: relative;
      text-align: center;
      margin-top: 20%;
    }
  }

  &subtitle {
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 420px;
    font-size: 16px;
    line-height: 1.5;

    &_position {
      position: relative;
      text-align: center;
      margin: 0 auto;
      top: 2%;
    }
  }

  &buttons {
    border-radius: 16px;
    background-image: url(../button.png);
    background-size: cover;
    width: 113px;
    height: 32px;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 20px #000000;
    }

    &_position{
      margin: 0 auto;
      margin-top: 5.9%;
    }
  }

  &play-buttons {
    border-radius: 50px;
    margin: 0 auto;
    background-image: url(../icons.png);
    background-position: 89%;
    width: 73px;
    height: 73px;

    &:hover {
      box-shadow: 0 0 20px #000000;
    }

    &_position {
      position: relative;
      margin-top: 15%;

    }
  }

}



