@import "reset.less"; /* reset CSS file*/
@import "main.less"; /* main screen style file*/


.container {
  margin: 0 auto;
  width: 97%;
}

/*
font-family: 'Open Sans', sans-serif; - обычный капосвый
font-family: 'Questrial', sans-serif; - запаска
font-family: 'Libre Baskerville', serif; - для H1
font-family: 'Merienda', cursive; - наклонный рукописный
*/